InActiveDuration = 300   
ListenPort = 3429

#SilentThreshold Amount in a scale of 16bit over which will be considered as voice.
#If the RTP packet contains more than 90% of Silence the packet as a whole will be considered silent.
SilentThreshold = 256

#AudioStopped event will be raised if the RTP stream from peer is broken for the AudioStopDuration.
AudioStopDuration=5

#VoiceActivityStopped event will be raised, if silent persist on the stream for Silent Duration.
SilentDurationMSecs=2000

#VoiceActivityDetected event will be raised, if voice activity persist on the stream for Voice Duration.
VoiceDurationMSecs=100

[  Section1  ]

s1param1 = val1  
#Comment
  s1param2   = val2  

[  Section2 ]
s2param1 = val1  
#Comment
  s2param2   = val2  

[Section3]
s3param1=val1
#Comment
s3param2=val2
